{% extends "blog/base.html" %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.content }}</p>
<small>By {{ object.author }} on {{ object.published_date }}</small>

{% if object.author == user %}
    <p>
        <a href="{% url 'post-update' object.pk %}">Edit</a> |
        <a href="{% url 'post-delete' object.pk %}">Delete</a>
    </p>
{% endif %}

<a href="{% url 'post-list' %}">Back to posts</a>
{% endblock %}

<p><strong>Tags:</strong>
    {% for tag in post.tags.all %}
        <a href="{% url 'posts_by_tag' tag.name %}">
            #{{ tag.name }}
        </a>
    {% empty %}
        No tags
    {% endfor %}
</p>
